@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600,100);

body{
  font-family: 'Josefin Sans', sans-serif;
  color:black;
  font-weight: 500;
  text-align: center;
}

.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #b6b6b6;
  display: block;
  transition: all 0.5s;
  margin-top: 4px;
}

nav#header, footer {
  background-color: rgb(35,51,130);
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

div#navbarToggler a, footer a, footer p {
  color: white;
  font-weight: 700;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.img-header {
  height: 100px;
  width: 100px;
}

div.box1 {
  width: 250px;
  height: 300px;
  box-shadow: 2px 2px 4px gray;
}

div.box2 {
  height: auto;
  width:auto;
  box-shadow: 2px 2px 4px gray;
}

div.box2 .container {
  text-align: left;
}