.box{

    background-color: #fff;
    border-radius: 20px;
    width: 450px;
    height: 600px;
    margin: 20px auto;
    padding: 30px 30px;
}
body{
    background-image: url("https://www.uwastudentguild.com//assets/Banners/enrol_2.jpg");
}