.box{

    background-color: #fff;
    border-radius: 20px;
    width: 450px;
    height: 800px;
    margin: 20px auto;
    padding: 50px 70px;
    
}
body{
    background-image: url("https://www.uwastudentguild.com/img/asset/bWFpbi9CYW5uZXJzL2NsdWJzb2NpZXR5XzE5MjB4NDgwLWJhbm5lci5qcGc=?w=1920&h=700&fit=crop&s=80fa6abd19fd26191de189dfb2cecb44");
}