/* icon-bar animation and style start*/
.icon-bar {
  width: 22px;
  height: 2px;
  background-color: #b6b6b6;
  display: block;
  transition: all 0.5s;
  margin-top: 4px;
}

nav#header, footer {
  background-color: rgb(35,51,130);
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

div#navbarToggler a, footer p {
  color: white;
  font-weight: 700;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* icon-bar animation and style end*/

.img-header {
  height: 100px;
  width: 100px;
}

.banner img {
  margin-top: 120px;
  height: auto;
  width: 100%;
}

div.container p{
  color: rgb(35,51,130);
  font-weight: 700;
  text-align: center;
}

footer p{
  text-align: center;
}
