@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600,100);

.box{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center; /*让div内部文字居中*/
    background-color: #fff;
    border-radius: 20px;
    width: 450px;
    height: 580px;
    margin: auto;
    padding: 50px 70px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
body{
    background-image: url("https://www.uwastudentguild.com//assets/Banners/enrol_2.jpg");
}