{% extends "base.html" %} {% block content %}
<script src="{{ url_for('static',filename='admin.js') }}"></script>
<div class="jumbotron text-center">
  <h1>Administration</h1>
  <p>
    Welcome Administrtor! You can change user and candidate informations here.
  </p>
</div>
<div class="container">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link active" id="N0" href="#" onclick="FSelector(0)"
        >User</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" id="N1" href="#" onclick="FSelector(1)">Group</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="N2" href="#" onclick="FSelector(2)">Candidate</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="N3" href="#" onclick="FSelector(3)"
        >Vote Record</a
      >
    </li>
  </ul>
  <div id="0">
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Administrator</th>
        <th>Candidator Permission</th>
      </tr>
      {% for row in rows %}
      <tr>
        <td>
          <a href="/adm/user/{{ row.id }}">
            {{ row.id }}
          </a>
        </td>
        <td>{{ row.username }}</td>
        <td>{{ row.email }}</td>
        <td>
          {{ row.is_admin }}
          <!-- <button type="button" class="btn btn-primary btn-sm">Change</button> -->
        </td>
        <td>
          {{ row.is_can }}
          <!-- <button type="button" class="btn btn-primary btn-sm">Change</button> -->
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div id="1" style="display: none;">
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
      {% for row in rows2 %}
      <tr>
        <td>
          {{ row.id }}
        </td>
        <td>{{ row.name }}</td>
      </tr>
      {% endfor %}
    </table>

    <a href="{{  url_for('newGroup')  }}">
      <button type="button" class="btn btn-primary btn-block">
        Add New Group
      </button>
    </a>
  </div>
  <div id="2" style="display: none;">
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>User ID</th>
        <th>Group ID</th>
        <th>Position ID</th>
      </tr>
      {% for row in rows3 %}
      <tr>
        <td>
          {{ row.id }}
        </td>
        <td>
          {{ row.userID.username }}
        </td>
        <td>{{ row.userID }}</td>
        <td>{{ row.groupID }}</td>
        <td>
          {{ row.positionID }}
          <!-- <button type="button" class="btn btn-primary btn-sm">Change</button> -->
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <div id="3" style="display: none;">
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Administrator</th>
        <th>Candidator</th>
      </tr>
      {% for row in rows %}
      <tr>
        <td>
          <a href="/adm/user/{{ row.id }}">
            {{ row.id }}
          </a>
        </td>
        <td>{{ row.username }}</td>
        <td>{{ row.email }}</td>
        <td>
          {{ row.is_admin }}
          <!-- <button type="button" class="btn btn-primary btn-sm">Change</button> -->
        </td>
        <td>
          {{ row.is_can }}
          <!-- <button type="button" class="btn btn-primary btn-sm">Change</button> -->
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock content%}
