{% extends "base.html" %}
{% block content %}

<div class="container text-center">
    <table class="table">
    
    <tr>
        <th>Candidate ID</th>
        <th>name</th>
        <th>email</th>
        <th>description</th>
    </tr>
    {% for row in rows %}
    <tr>
        <td>{{ row.id }}</a></td>
        <td>{{ row.id }}</a></td>
        <td>{{ row.email }}</td>
        <td>{{ row.description }}</td>
    </tr>
    {% endfor %}
    </table>
</div>
<div style="width: 400px;margin-left: 500px;">
    <canvas id="myChart" width="400" height="400"></canvas>
</div>

<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for i in can_name %}
                         '{{i}}',
                        {% endfor %}],
        datasets: [{
            label: 'num of Votes',
            data: [{% for i in can_value %}
                        {{i}},
                        {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        title:{display:true, text:'Candidate Vote', fontSize:25},
        legend:{display:false},
        scales: {yAxes: [{ticks: {beginAtZero: true}}]
        }
    }
});
</script>


{% endblock content %}