
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!--my css -->
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}"/>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#"
            ><img
              class="img-header"
              src="https://www.uwastudentguild.com/site/themes/uwastudentguild/img/uwa-student-guild_web.png"
              alt=""
          /></a>
          <button
            class="navbar-toggler collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggler"
            aria-controls="navbarsExampleDefault"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Candidates info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">My vote</a>
              </li>
            </ul>
            <ul class="navbar-nav mt-2 mt-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">I'am Candidate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Administator</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- <nav class="navbar navbar-dark">
          <button
            class="navbar-toggler collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggleExternalContent"
            aria-controls="navbarsExampleDefault"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
          </button>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <ul>
              <li><a href="#">adgfdfg</a></li>
              <li><a href="#">adgfdfg</a></li>
              <li><a href="#">adgfdfg</a></li>
            </ul>
          </div>
        </div> -->
    </header>
    <div class="banner">
      <img
        src="https://www.uwastudentguild.com/img/asset/bWFpbi9CYW5uZXJzL2pvaW50aGVndWlsZF8xOTIweDQ4MC1iYW5uZXIuanBn?w=1920&h=700&fit=crop&s=370dfed8b34de01b6524ff058acf8c2b"
        alt="Responsive image"
      />
    </div>

    <div class="container bg-white">
      <div class="row">
        <div class="col hvr-grow-rotate">
          <a href="#">
            <div>
              <img
                class="row-icon hvr-grow"
                src="https://cdn.iconscout.com/icon/free/png-512/overwatch-2-569226.png"
                alt=""
              />
            </div>
            <h5 class="row-title hvr-underline-from-left">Vote Now</h5>
            <p class="row-content">
              With over 160 clubs and societies, you’re sure to find a perfect
              fit!
            </p>
          </a>
        </div>
        <div class="col hvr-grow-rotate">
          <a href="#">
            <div>
              <img
                class="row-icon hvr-grow"
                src="https://cdn.iconscout.com/icon/free/png-512/overwatch-2-569226.png"
                alt=""
              />
            </div>
            <h5 class="row-title hvr-underline-from-left">Vote Now</h5>
            <p class="row-content">
              With over 160 clubs and societies, you’re sure to find a perfect
              fit!
            </p>
          </a>
        </div>
        <div class="col hvr-grow-rotate">
          <a href="#">
            <div>
              <img
                class="row-icon hvr-grow"
                src="https://cdn.iconscout.com/icon/free/png-512/overwatch-2-569226.png"
                alt=""
              />
            </div>
            <h5 class="row-title hvr-underline-from-left">Vote Now</h5>
            <p class="row-content">
              With over 160 clubs and societies, you’re sure to find a perfect
              fit!
            </p>
          </a>
        </div>
      </div>
    </div>

    <footer class="bg-dark">
      <div class="row">
        <div class="col">
          <img
            width="150px"
            height="150px"
            src="https://www.uwastudentguild.com/site/themes/uwastudentguild/img/uwa-student-guild_web.png"
            alt=""
          />
        </div>

        <div class="col">
          <h5>Author</h5>
          <ul>
            <li>Ricky</li>
            <li>Ricky</li>
            <li>Ricky</li>
            <li>Ricky</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">© 2020 Copyright: UWA</div>
      </div>
    </footer>
  </body>
</html>
