{% extends "base.html" %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='myvote.css') }}"
/>
<div class="jumbotron text-center">
  <h1>My Vote</h1>
  <p>
    Check your vote history here.
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
        <div class="card" style="">
            <img
              class="card-img-top"
              src="{{ url_for('static',filename='img/'+row.profile) }}"
              alt="Card image"
            />
            <div class="card-body">
              <h4 class="card-title">{{row.name}}</h4>
              <p class="card-text">{{row.description}}</p>
            </div>
          </div>
    </div>
    <div id="myvote" class="col-md-8" style="text-align:left">
      <h2>YOU HAVE VOTED:</h2>
      <h2>{{row.name}}</h2>
      <h3>from {{row.group.name}}</h3>
      <p>{{number}} prople have same option with you!</p>
      <div class="progress" style="height:30px">
        <div class="progress-bar" style="width:{{progress}}%;height30px">{{progress}}%</div>
      </div>
      <a href="{{ url_for('vote') }}" class="btn btn-primary ">Change Your Mind?</a>

    </div>
  </div>
</div>
{% endblock content%}
