{% extends "base.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vote.css') }}" />

<div class="jumbotron text-center">
  <h1>Vote</h1>
  <p>
    Welcome to the vote page. Check the Candidates' informations below and vote
    for your favorite candidate!
  </p>
</div>
<div>
  <div class="card-deck" style="margin:0 10%">
    {% for row in rows %}

    <div class="card" style="width:200px">
      <img
        class="card-img-top"
        src="{{ url_for('static',filename='img/'+row.profile) }}"
        alt="Card image"
      />
      <div class="card-body">
        <h4 class="card-title">{{row.name}}</h4>
        <h5 class="card-title">{{row.group.name}}</h5>
        <p class="card-text">{{row.description}}</p>
      </div>
    </div>
    {% endfor %}
  </div><br/>
  <form method="POST" action="" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <div class="form-group">
            {{ form.preference.label(class="form-control-label")}}
            {% if form.preference.errors %}
            {{ form.preference(class="form-control-lg form-control is-invalid")}}

            <div class="invalid-feedback">
                {% for error in form.preference.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.preference}}
            {% endif %}
        </div>
        <div class="form-group">
          {{ form.submit(class="btn btn-outline-info")}}
      </div>
  </form>
</div>
{% endblock content%}
